*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android KeyStore & Release Artifacts
*.jks
*.keystore
*.apk
*.aab

# Local rules
Rule.md
rule.md
.kotlin/
